body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
}


/* Header */
.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}

.header .links {
  display: flex;
  gap: 1rem;
}

.header li {
  list-style-type: none;
}