:root {
  --blue: #38A3A5;
  --divider: #80ED99;
  --main-gradient: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

body {
  margin: 0;
  padding: 0;
  background: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease-in-out, color 0.6s ease-in-out;

}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

body.light {
  --background-color: white;
  --text-color: #000000;
}

body.dark {
  --background-color: #000000;
  --text-color: #ffffff;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/*Dark Mode */
#darkMode {
  /* background: transparent url("../moon.png") no-repeat center;
  background-size: 30px 30px; */
  width: 45px;
  height: 45px;
  filter: grayscale(100%);
  border: none;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out  filter 0.3s ease-in-out;
}

#darkMode:hover
/* #darkMode:focus  */
{
  filter: none;
  /* background-color: black; */
  cursor: pointer;
}

#darkMode.clicked {
  filter: none !important;
  background-color: black;
}


/* Gradient */
.introduction {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 12s ease infinite;
	/* height: 100vh; */
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* Introduction */
.introduction {
  min-height: 8rem;
  font-size: 2rem;
  font-weight: 600;
}


/* Shape divider */
.custom-shape-divider-top-1665363425 {
  /* position: absolute; */
  /* top: 25%;
  left: 0; */
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1665363425 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1665363425 .shape-fill {
  background-color: #80ED99;
}


/*Flipped divider */
.custom-shape-divider-bottom-1665363569 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1665363569 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1665363569 .shape-fill {
  fill: var(--divider);
}





/* Header */
.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1rem 1rem;
  align-items: center;
}

.header .links {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.header li {
  list-style-type: none;
}

.header button {
  border: none;
}

.header .moon {
 background-color: #ffffff;
}

.header .sun {
  background-color: #000000;
}

/* .profile .image-box {
  tint-color: 'black'
} */



/* All containers */
.skills-container, .profile, .about .text, .project {
  display: grid;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 10px;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

/*About section */
.about {
  /* grid-auto-flow: column; */
}




/* Skills Box */

.skills {
  display: flex;
  background-color: var(--blue);
  justify-content: center;
  padding: 1rem;
}

.skills-container {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  background-color: var(--background-color);
  border-radius: 10px;
  /* padding: 0.25rem; */
  justify-content: center;
  align-items: center;

  /* min-width: 25rem; */
}

.column, .skill-box {
  display: grid;
  justify-content: center;
  align-items: center;
}

/* Projects */

.projects {
  padding: 1rem;
}




.projects-container, .project-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-container, .project-column {
  gap: 2rem;
}

.project {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
  display: grid;
  align-items: end;
}

.project .gif-box {
  display: grid;
  justify-content: center;
}

.projects h1, h2 {
  text-align: center;
}



.gif-box img {
  width: 300px;
}

.project .icons {
  display: grid;
  grid-auto-flow: column;
  justify-content: end;
  gap: 0.5rem;
}


/*Footer */
.footer {
  box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
}

.footer .icons {
  display: flex;
  padding: 1rem;
  gap: 0.5rem;
}